{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %} :) {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    {% endblock %}
</head>
<body>
<div id="wrapper" class="">
    <div class="header">
        <div class="cont">
            <div class="logo"> logo here </div>
            <div class="links">
                <ul>
                   <li><a href="/">Users</a></li>
                   <li><a href="/courses">Courses</a></li>
                </ul>
            </div>


        </div>

    </div>

    <div class="">

    </div>
    {% block content %} default content {% endblock %}
</div>
{% block js %}{% endblock %}
</body>
</html>