{% extends 'layout/main.html' %}

{% block content %}

    <div>
        <a href="/add"> + </a>
        <form method="get" action="/">
            <button type="submit">search</button>
            <input type="text" name="q">
        </form>
        <h2> USERS </h2>
        <select class="perpage" data-scope="user">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </div>

    <div>
        <table class="utable">
            <thead>
            <tr>
                <td class="name">Name</td>
                <td class="email">Email</td>
                <td class="status">Status</td>
                <td class="action">Action</td>
            </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.name }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.status }}</td>
                    <td>
                        <a href="">EDIT</a>
                        <a href="">DEL </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br/>


        <div class="pagination">
            <span class="step-links">
                {% if users.has_previous %}
                    <a href="?page={{ users.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ users.number }} of {{ users.paginator.num_pages }}.
                </span>

                {% if users.has_next %}
                    <a href="?page={{ users.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>


    </div>

{% endblock %}