{% if page == 1 %}
    <span> < </span>
{% else %}
    <a href="{{ link }}{{ page|add:"-1" }}"> < </a>
{% endif %}


{% if page|add:'-2' > 0 %}



    {% include 'widget/pager_cycle.html' with page=page addm='-2' total=total %}


{% elif page|add:'-1' > 0 %}
    {% include 'widget/pager_cycle.html' with page=page addm='-1' total=total %}
{% elif page > 0 %}
    {% include 'widget/pager_cycle.html' with page=page addm='0' total=total %}
{% endif %}



{% if page == total %}
    <span> > </span>
{% else %}
    <a href="{{ link }}{{ page|add:"1" }}"> > </a>
{% endif %}





